* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100dvh;

    header {
        width: 100%;
        height: 100dvh;
        background-image: linear-gradient(#00000070, #00000070), url(../img/moto5.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header-texts {
            display: flex;
            flex-direction: column;
            margin-left: 50px;

            h1 {
                font-size: 3rem;
                color: orangered;
                margin-bottom: 1rem;
                font-weight: bold;
            }

            h2 {
                font-size: 1.5rem;
                color: white;
            }

            .header-info-date{
                font-size: 1.2rem;
                color: white;
                margin-top: 0.5rem;

                :nth-child(2) {
                    color: orangered;
                    font-weight: bold;
                } 
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 30px;
            background-color: gray;
            height: auto;
            padding: 2rem;
            border-radius: 10px;
            margin-right: 50px;

            p {
                font-size: 1.5rem;
                color: black;
                margin-bottom: 0.5rem;
            }


            .input-group {
                display: flex;
                flex-direction: column;

                label {
                    font-size: 1.2rem;
                    color: black;
                    margin-bottom: 0.5rem;
                }

                input {
                    width: 350px;
                    padding: 0.6rem;
                    border-radius: 5px;
                    border: none;
                }
            }

            .select-group {
                display: flex;
                flex-direction: column;

                label {
                    font-size: 1.2rem;
                    color: black;
                    margin-bottom: 0.5rem;
                }

                select {
                    width: 350px;
                    padding: 0.6rem;
                    border-radius: 5px;
                    border: none;
                }
            }


            button {
                width: 100%;
                padding: 0.6rem;
                border-radius: 5px;
                border: none;
                background-color: orangered;
                color: white;
                font-size: 1.2rem;
                cursor: pointer;

                &:hover {
                    background-color: darkorange;
                }
            }
        }
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;

        #explorer {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .explorer-title {
                font-size: 1.5rem;
                color: black;
                margin-top: 2rem;
                background-color: grey;
                width: 90%;
                text-align: center;
                padding: 1rem;
                border-radius: 5px;
            }

            .card-images {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-top: 2rem;
                gap: 20px;
                width: 90%;

                img {
                    width: 250px;
                    height: 250px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                p {
                    font-size: 1.2rem;
                    color: black;
                    margin-top: 0.5rem;
                    text-align: center;
                }
            }
        }

        #local {
            width: 100%;
            margin-top: 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: linear-gradient(#00000090, #00000090), url(../img/moto2.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            gap: 20px;
            color: white;

            img {
                object-fit: fill;
                width: 50px;
                height: 50px;
                image-rendering: high-quality;
                margin-top: 20px    ;
            }

            p {
                font-size: 1.2rem;
                text-align: center;
            }

            .texto-destaque {
                font-size: 1.6rem;
                font-weight: bold;
                color: orangered;
                margin: 10px 0 10px 0;
            }

            p:last-child {
                font-size: 1rem;
                color: white;
                margin-bottom: 20px;
            }
        }

        #modelos {
            width: 100%;
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            .modelos-flex {
                width: 90%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                img {
                    width: 40%;
                    height: 250px;
                    object-fit: cover;
                    border-radius: 10px;
                }

                #modelos-text-one {
                    font-size: 1.9rem;
                    width: 60%;
                    color: black;
                    font-weight: bold;
                    text-align: left;
                    margin-left: 20px;
                }

                .modelos-list {
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    width: 60%;
                    flex-wrap: nowrap;


                    p {
                        font-size: 1.6rem;
                        color: black;
                        font-weight: bold;
                        text-align: left;
                    }
    
                    ul {
                        font-size: 1rem;
                        color: black;
                        margin-top: 1rem;
                        display: flex;
                        flex-direction: column;
                        li {
                            margin-bottom: 0.5rem;
                        }
                    }
                }
            }
        }
    }

    footer {
        width: 100%;
        background-color: grey;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;

        .footer-solicitacion-texts {
            background-image: linear-gradient(#000000d0, #000000d0), url(../img/moto6.jpg);
            background-position: center;
            background-size: cover;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            gap: 20px;

            p {
                font-size: 1.5rem;
                color: white;
            }

            a {
                padding: 0.6rem 1.2rem;
                border-radius: 5px;
                border: none;
                background-color: orangered;
                color: white;
                font-size: 1.2rem;
                text-decoration: none;

                &:hover {
                    background-color: darkorange;
                }
            }
        }

        .footer-info-texts {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            gap: 10px;


            p:first-child {
                font-size: 1.6rem;
                color: black;
                font-weight: bold;
            }

            p {
                font-size: 1.2rem;
                color: black;
                text-align: center;

                a {
                    text-decoration: none;
                    color: black;

                    &:hover {
                        color: orangered;
                    }
                }
            }
        }
    }
}