* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100dvh;

    header {
        width: 100%;
        height: 100dvh;
        background-image: linear-gradient(#00000070, #00000070), url(../img/moto5.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header-texts {
            display: flex;
            flex-direction: column;
            margin-left: 50px;

            h1 {
                font-size: 3rem;
                color: orangered;
                margin-bottom: 1rem;
                font-weight: bold;
            }

            h2 {
                font-size: 1.5rem;
                color: white;
            }

            .header-info-date{
                font-size: 1.2rem;
                color: white;
                margin-top: 0.5rem;

                :nth-child(2) {
                    color: orangered;
                    font-weight: bold;
                } 
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 30px;
            background-color: gray;
            height: auto;
            padding: 2rem;
            border-radius: 10px;
            margin-right: 50px;

            p {
                font-size: 1.5rem;
                color: black;
                margin-bottom: 0.5rem;
            }


            .input-group {
                display: flex;
                flex-direction: column;

                label {
                    font-size: 1.2rem;
                    color: black;
                    margin-bottom: 0.5rem;
                }

                input {
                    width: 350px;
                    padding: 0.6rem;
                    border-radius: 5px;
                    border: none;
                }
            }

            .select-group {
                display: flex;
                flex-direction: column;

                label {
                    font-size: 1.2rem;
                    color: black;
                    margin-bottom: 0.5rem;
                }

                select {
                    width: 350px;
                    padding: 0.6rem;
                    border-radius: 5px;
                    border: none;
                }
            }


            button {
                width: 100%;
                padding: 0.6rem;
                border-radius: 5px;
                border: none;
                background-color: orangered;
                color: white;
                font-size: 1.2rem;
                cursor: pointer;

                &:hover {
                    background-color: darkorange;
                }
            }
        }
    }
}