@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
  --primary: #fa6600;
  --secondary: #95989a;
  --text-color: #fff;
  --text-secondary: #000;
  --text-tertiary: #5d5d5d;
}

body {
    width: 100%;
    height: 100dvh;
    font-family: "Montserrat", sans-serif;

    header {
        width: 100%;
        height: 100dvh;
        background-image: linear-gradient(#00000070, #00000070), url(../img/moto5.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header-texts {
            display: flex;
            flex-direction: column;
            margin-left: 50px;

            h1 {
                font-size: 3rem;
                color: var(--primary);
                margin-bottom: 1rem;
                font-weight: bold;
            }

            h2 {
                font-size: 1.5rem;
                color: var(--text-color);
            }

            .header-info-date{
                font-size: 1.2rem;
                color: var(--text-color);
                margin-top: 0.5rem;

                :nth-child(2) {
                    color: var(--primary);
                    font-weight: bold;
                } 
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: var(--secondary);
            height: auto;
            padding: 2rem;
            border-radius: 10px;
            margin-right: 50px;

            p {
                font-size: 1.5rem;
                color: var(--text-secondary);
                margin-bottom: 0.5rem;
            }


            .input-group {
                display: flex;
                flex-direction: column;

                label {
                    font-size: 1.2rem;
                    color: var(--text-tertiary);
                    margin-bottom: 0.5rem;
                }

                input {
                    width: 350px;
                    padding: 0.6rem;
                    border-radius: 5px;
                    border: none;
                }
            }

            .select-group {
                display: flex;
                flex-direction: column;

                label {
                    font-size: 1.2rem;
                    color: var(--text-tertiary);
                    margin-bottom: 0.5rem;
                }

                select {
                    width: 350px;
                    padding: 0.6rem;
                    border-radius: 5px;
                    border: none;
                }
            }


            button {
                width: 100%;
                padding: 1rem 1.2rem;
                border-radius: 35px;
                border: none;
                background-color: var(--primary);
                color: var(--text-color);
                font-size: 1.2rem;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    background-color: darkorange;
                }
            }
        }
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;

        #explorer {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .explorer-title {
                font-size: 1.5rem;
                color: var(--text-secondary);
                margin-top: 2rem;
                background-color: var(--secondary);
                width: 90%;
                text-align: center;
                padding: 1rem;
                border-radius: 5px;
            }

            .card-images {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: wrap;
                margin-top: 2rem;
                gap: 20px;
                width: 90%;

                .card-image {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        width: 250px;
                        height: 250px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
    
                    p {
                        font-size: 1rem;
                        color: var(--text-secondary);
                        margin-top: 0.5rem;
                        text-align: center;
                    }
                }
            }
        }

        #local {
            width: 100%;
            margin-top: 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: linear-gradient(#000000d1, #000000d1), url(../img/moto2.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            gap: 20px;
            color: var(--text-color);

            img {
                object-fit: fill;
                width: 50px;
                height: 50px;
                image-rendering: high-quality;
                margin-top: 20px;
            }

            p {
                font-size: 1.2rem;
                text-align: center;
            }

            .texto-destaque {
                font-size: 1.6rem;
                font-weight: bold;
                color: var(--primary);
                margin: 10px 0 10px 0;
            }

            p:last-child {
                font-size: 1rem;
                color: var(--text-color);
                margin-bottom: 20px;
            }
        }

        #modelos {
            width: 100%;
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            .modelos-flex {
                width: 90%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                img {
                    width: 45%;
                    height: 300px;
                    object-fit: cover;
                    border-radius: 5px;
                }

                #modelos-text-one {
                    font-size: 1.6rem;
                    width: 55%;
                    color: var(--text-secondary);
                    font-weight: bold;
                    text-align: left;
                    margin-left: 20px;
                }

                .modelos-list {
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    width: 55%;
                    flex-wrap: nowrap;


                    p {
                        font-size: 1.6rem;
                        color: var(--text-secondary);
                        font-weight: bold;
                        text-align: left;
                    }
    
                    ul {
                        font-size: 1rem;
                        color: var(--text-secondary);
                        margin-top: 1rem;
                        display: flex;
                        flex-direction: column;
                        li {
                            margin-bottom: 0.5rem;
                        }
                    }
                }
            }
        }
    }

    footer {
        width: 100%;
        background-color: var(--secondary);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;

        .footer-solicitacion-texts {
            background-image: linear-gradient(#000000d0, #000000d0), url(../img/moto6.jpg);
            background-position: center;
            background-size: cover;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            gap: 20px;

            p {
                font-size: 1.5rem;
                color: var(--text-color);
            }

            a {
                padding: 1.3rem 1.2rem;
                border-radius: 35px;
                border: none;
                background-color: var(--primary);
                color: var(--text-color);
                font-size: 1.2rem;
                text-decoration: none;
                transition: all 0.3s ease;

                &:hover {
                    background-color: darkorange;
                }
            }
        }

        .footer-info-texts {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            gap: 10px;


            p:first-child {
                font-size: 1.6rem;
                color: var(--text-secondary);
                font-weight: bold;
            }

            p {
                font-size: 1.2rem;
                color: var(--text-secondary);
                text-align: center;

                a {
                    text-decoration: none;
                    color: var(--text-secondary);
                    transition: all 0.1s ease;

                    &:hover {
                        color: var(--primary);
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    body {
        header {
            height: auto;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            padding: 20px;

            .header-texts {
                margin: 0;
                align-items: center;
                text-align: center;

                h1 {
                    font-size: 1.6rem;
                }

                h2 {
                    font-size: 1rem;
                }

                .header-info-date {
                    font-size: 0.9rem;
                }
            }

            form {
                width: 100%;
                margin: 0;
                padding: 1.5rem;
                gap: 15px;

                .input-group,
                .select-group {
                    input,
                    select {
                        width: 100%;
                    }
                }

                button {
                    font-size: 1rem;
                    padding: 0.8rem;
                }
            }
        }

        main {
            #explorer {
                .card-images {
                    flex-direction: column;
                    align-items: center;

                    .card-image {
                        img {
                            width: 180px;
                            height: 180px;
                        }
                    }
                }
            }

            #modelos {
                .modelos-flex {
                    flex-direction: column;
                    gap: 20px;

                    img {
                        width: 100%;
                        height: auto;
                    }

                    #modelos-text-one, .modelos-list {
                        width: 100%;
                        text-align: center;
                        margin: 0;

                        p {
                            text-align: center;
                        }

                        ul {
                            padding: 0;

                            li {
                                list-style: none;
                            }
                        }
                    }
                }
            }

            #local {
                padding: 20px;

                p {
                    font-size: 1rem;
                }

                .texto-destaque {
                    font-size: 1.3rem;
                }
            }
        }

        footer {
            .footer-solicitacion-texts {
                padding: 1.5rem;

                p {
                    font-size: 1.2rem;
                    text-align: center;
                }

                a {
                    font-size: 1rem;
                    padding: 1rem;
                }
            }

            .footer-info-texts {
                padding: 1.5rem;

                p {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    body {
        header {
            .header-texts {
                margin-right: 20px;
                h1 {
                    font-size: 2rem;
                }

                h2 {
                    font-size: 1rem;
                }
            }

            form {
                width: 80%;
                margin-top: 1rem;
                gap: 10px;

                input, select {
                    width: 100%;
                }
            }
        }

        main {
            #modelos {
                .modelos-flex {
                    flex-direction: column;

                    &:nth-child(2) {
                        flex-direction: column-reverse;
                    }

                    img {
                        width: 100%;
                        height: auto;
                    }

                    #modelos-text-one, .modelos-list {
                        width: 50%;
                        margin: 20px 0 20px 0;
                        text-align: center;

                        p {
                            text-align: center;
                        }

                        li {
                            list-style: none;
                            font-weight: bold;
                            font-style: italic;
                        }
                    }
                }
            }
        }
    }
}


